<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>

<body>
	<section class="banner d-flex justify-content-center align-items-center text-white">
		<div class="text-center">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
			<p>

				Start collecting your contacts in very smarter way. We provide you very effiecient way to handle your
				contacts.
			</p>
			<a th:href="@{/login}" class="bg-primary text-white btn btn-lg">Get Started</a>
		</div>
	</section>

</body>

</html>